/*///////////////
/ index.html    /
///////////////*/

.icon-bar {
    width: 100%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%)
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}

body {
  padding-top: 50px;
  font-family: 'Montserrat', sans-serif;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.col-centered {
    text-align: center;
}

.spacious-title {
    padding: 40px;
}

/*///////////////
/  home.html    /
///////////////*/

#bowling-info{
    width:60%;
    margin: 0 auto;
}

/*///////////////
/  teams.html   /
///////////////*/

/*///////////////
/ players.html  /
///////////////*/

/*///////////////
/ contact.html  /
///////////////*/

#contactInfo input {
    width: 300px;
}

#contactInfo label {
    font-size: 20px;
    padding: 20px 0px 5px;
    font-weight: normal;
}

#contactInfo .btn-block {
    width: 300px;
}

