<!--index.html already has a container around this whole html file-->
    <!--index.html already has id="load_main" div so no need to include it -->
    <div>
        <div class="row">
            <h1>Make Teams!</h1>
            <form action="/submit_player" method="post" target="_blank">
                <div class="col-md-2">
                    <input type="text" placeholder="Name" />
                </div>
                <div class="col-md-2">
                    <input type="text" placeholder="Game 1 Score" ng-model="game1"/>
                </div>
                <div class="col-md-2">
                    <input type="text" placeholder="Game 2 Score" ng-model="game2"/>
                </div>
                <div class="col-md-2">
                    <input type="text" placeholder="Game 3 Score" ng-model="game3"/>
                </div>
                <div class="col-md-2">
                    <button value="Submit!">Submit Score!</button>
                </div>
            </form>
        </div><!--row-->
        <div class="row">
            <div class="centered">
                <p> Average: {{average}} </p>
            </div>
        </div><!--row-->

    </div><!--ng-controller-->